#cabin {
    -fx-background-image: url("/pictures/cabinBackground.png");
    -fx-background-size: 615px 415px;
}

#nonCertifiedForest {
    -fx-background-image: url("/pictures/nonCertifiedForestBackground.png");
    -fx-background-size: 615px 415px;
}

#blackSmith {
    -fx-background-image: url("/pictures/blacksmithBackground.png");
    -fx-background-size: 615px 415px;
}

#certifiedForest {
    -fx-background-image: url("/pictures/certifiedForestBackground.png");
    -fx-background-size: 615px 415px;
}

#library {
    -fx-background-image: url("/pictures/libraryBackground.png");
    -fx-background-size: 615px 415px;
}

#localVillage {
    -fx-background-image: url("/pictures/localVillageBackground.png");
    -fx-background-size: cover;
}

#store {
    -fx-background-image: url("/pictures/storeBackground.png");
    -fx-background-size: 615px 415px;
}

.label {
    -fx-border-color: #000000;
    -fx-font-size: 12px;
    -fx-background-color: #f0f8ff;
}
#StartScene {
    -fx-background-image: url("/pictures/StartScene.png");
    /*-fx-background-size: cover;*/
    -fx-background-size: 615px 415px;
}
.button {
    -fx-background-radius: 100px;
    /*-fx-background-color: #00AFD1;*/
    -fx-background-color: #00c000;
    -fx-border-color: transparent;
    -fx-color: #ffffff;
    -fx-display: inline-block;
    -fx-font-family:Arial;
    -fx-font-size: 1em;
    -fx-margin: auto;
    -fx-padding: 9px;
    -fx-text-decoration: none;
    -fx-text-shadow: #000000 5px 5px 47px;
    -fx-transition: all .2s ease-in-out;
}
.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}
.Book {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 18px;
}

.textArea{
    -fx-background-image:  url("/pictures/GameTextBox.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.topMenu {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 12px;
}

#Title{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 12px;
}

#by{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 12px;
}

#playerMoney {
    -fx-border-color: rgba(0, 0, 0, 0.0);
    -fx-text-fill: #ffff66;
    -fx-background-color: rgba(0, 0, 0, 0.0);
}


.goBuilding:hover{
    -fx-fill: rgba(255, 255, 32, 0.2);
    -fx-stroke-width: 2;
    -fx-effect: dropshadow(gaussian, #fcfc3c, 50, 0 , 0, 0);
    
}


.miniLabel{
    -fx-background-image:  url("/pictures/GameTextBox.png");
    -fx-background-size: cover;
    -fx-text-fill: white;
    -fx-alignment: center;
}

