#cabin {
    -fx-background-image: url("/pictures/Trailer.png");
    -fx-background-size: 600px 400px;
}

#nonCertifiedForest {
    -fx-background-image: url("/pictures/noncertified.png");
    -fx-background-size: 600px 400px;
}

#blackSmith {
    -fx-background-image: url("/pictures/Blacksmith.png");
    -fx-background-size: 600px 400px;
}

#certifiedForest {
    -fx-background-image: url("/pictures/certifiedforest.png");
    -fx-background-size: 600px 400px;
}

#library {
    -fx-background-image: url("/pictures/libraryBackground.png");
    -fx-background-size: 600px 400px;
}

#localVillage {
    -fx-background-image: url("/pictures/villaget32px.png");
    -fx-background-size: 600px 400px;
}

#store {
    -fx-background-image: url("/pictures/Store.png");
    -fx-background-size: 600px 400px;
}

.label {
    -fx-border-color: #000000;
    -fx-font-size: 12px;
    -fx-background-color: #f0f8ff;
}

.Book {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 18px;
    
}

#Title{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 12px;
}

#by{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 12px;
}

#playerMoney {
    -fx-border-color: rgba(0, 0, 0, 0.0);
    -fx-text-fill: #ffff66;
    -fx-background-color: rgba(0, 0, 0, 0.0);
}